# Игнорировать папки сборки
**/bin/
**/obj/

# Игнорировать результаты компиляции
*.dll
*.pdb
*.exe
*.cache
*.runtimeconfig.json
*.deps.json

# Игнорировать файлы, специфичные для MSBuild
*.csproj.CoreCompileInputs.cache
*.csproj.FileListAbsolute.txt
*.genruntimeconfig.cache

# Игнорировать временно файлы IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# Кеши кроссплатформенных сборок
*.db
*.log
*.tmp

# Вот такие пироги
